
<ul class="navbar-nav">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Index" title="Manage">@Context.User.Claims.First().Value 您好</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-page="/Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">&nbsp;登出</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Register">注册新用户</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Login">登录</a>
        </li>
    }
</ul>
